footer{
  height: auto;
  overflow: hidden;
  margin-bottom: rem-calc(50);
  
  .columns{
    h3, p{
      margin-bottom: rem-calc(30);
    }
  }
  
  a{
    img{
      max-width: rem-calc(32);
    }
  }
}