@import url("//hello.myfonts.net/count/2cdd80");

@font-face{
  font-family: 'NHaasGroteskDSPro-75Bd';
  src: url('../fonts/2CDD80_0_0.eot');
  src: url('../fonts/2CDD80_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2CDD80_0_0.woff2') format('woff2'),url('../fonts/2CDD80_0_0.woff') format('woff'),url('../fonts/2CDD80_0_0.ttf') format('truetype');
}

@font-face {
  font-family: 'NHaasGroteskTXStd-55Rg';
  src: url('../fonts/2CDD80_1_0.eot');
  src: url('../fonts/2CDD80_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2CDD80_1_0.woff2') format('woff2'),url('../fonts/2CDD80_1_0.woff') format('woff'),url('../fonts/2CDD80_1_0.ttf') format('truetype');
}

@mixin NHaasGroteskDSPro-75Bd{
  font-family: 'NHaasGroteskDSPro-75Bd';
  font-weight: normal;
  font-style: normal;
}

@mixin NHaasGroteskTXStd-55Rg{
  font-family: 'NHaasGroteskTXStd-55Rg';
  font-weight: normal;
  font-style: normal;
}