.hamburger{
  width: rem-calc(32); // Same as logo's height
  height: rem-calc(32);
  position: absolute;
  right: rem-calc(70);
  
  *{
    cursor: pointer;
  }
  
  div{
    width: 100%;
    height: 5px;
    top: 13.5px;
    position: absolute;
    background: $grey-dark;
    
    &:before,
    &:after{
      content: "";
      width: 32px;
      height: 5px;
      background: $grey-dark;
      position: absolute;
    }
    
    &:before{
      top: rem-calc(-12);
    }
    
    &:after{
      bottom: rem-calc(-12);
    }
  }
}

.hamburger{
	opacity: 0;
	visibility: hidden;
	@include transform(translate3d(5px,0,0));
	@include transition(.4s);
    
	&.show{
		opacity: 1;
		visibility: visible;
		@include transform(translate3d(0,0,0));
		@include transition(.4s);
	}
}

.single{
  .hamburger{
    opacity: 1;
    visibility: visible;
    @include transform(translate3d(0,0,0));
  }
}