/*
h1 		  = 40px Chronicle Display
h2 		  = 24px Chronicle Text
h3 		  = 18px walsheim
p 		  = 16px Chronicle Text
p.reading = 20px Chronicle Text
p.label   = 15px walsheim
a 		  = 15px walsheim
*/

%base{
  @include gotham;
  
  margin: 0;
  
	font-size: rem-calc(13);
	color: $grey-dark;
	
	// Font styles in classes
	// Bold is declared in fonts.scss because of different weights
	&.italic{
		font-style: italic;
	}
  
  &.bold{
    font-weight: 600;
  }
	
	&.underlined{
		text-decoration: underline;
	}
	
	&.allcaps{
		text-transform: uppercase;
	}
  
  &.lowercase{
    text-transform: lowercase;
  }
	
	&.capitalize{
		text-transform: capitalize;
	}
	
	&.text-center{
		text-align: center;
	}
	
	&.text-left{
		text-align: left;
	}
	
	&.text-right{
		text-align: right;
	}
	
	&.text-grey{
		color: $grey-text;
		
		&:hover,
		&:active{
			color: $grey-text;
		}
	}
}

*{
	@extend %base;
}

h1{
	@extend %base;
  @include chronicle;
	
	font-size: rem-calc(55);
  font-weight: 700;
	line-height: 1.1;
}

h2{
	@extend %base;
  @include chronicle;
	
	font-size: rem-calc(40);
	line-height: 1.1;
}

h3{
  @extend %base;
  @include chronicle;
  
  font-size: rem-calc(28);
  font-weight: 700;
  line-height: 1.1;
}

p{
	@extend %base;
	
	font-size: rem-calc(13);
	
	// Read text for brand stories and blog posts
	&.reading{
		font-size: rem-calc(15);
	}
}

a{
	@extend %base;
	
	font-size: rem-calc(13);
  text-decoration: underline;
	
	&:hover{
		color: $black;
	}
  
  *{
    cursor: pointer;
  }
}

@media #{$medium-down}{
  html{
    font-size: 85%;
  }
  
  h1{
    font-size: rem-calc(34);
  }
}