footer{
  height: auto;
  overflow: hidden;
  margin-bottom: rem-calc(50);
  
  .columns{
    h3, p{
      margin-bottom: rem-calc(30);
    }
  }
  
  a{
    img{
      max-width: rem-calc(32);
    }
  }
}

@media #{$small-only}{
  footer{
    div{
      padding-left: 0 !important;
      padding-right: 0 !important;
    }
  }
}