header{
  width: 100%;
  padding-top: rem-calc(5);
  padding-bottom: rem-calc(5);
  z-index: $zIndex-header;
  background: $white;
  opacity: .9;
  
  &.stick{
    position: fixed;
  }
  
  &.menu-active{
    z-index: 1001;
    background: transparent;
      
    .hamburger{
      visibility: hidden;
    }
    
    .closer{
      visibility: visible;
    }
  }
}