header{
  width: 100%;
  padding-top: rem-calc(7);
  padding-bottom: rem-calc(7);
  z-index: $zIndex-header;
  background: $white;
  opacity: .9;
  
  &.stick{
    position: fixed;
  }
}

// Switching triggers
header .trigger-menuClose{
  visibility: hidden;
  opacity: 0;
}

header.menu-active{
  z-index: 1001;
  background: transparent;
    
  .trigger-menuOpen{
    visibility: hidden !important;
    opacity: 0 !important;
  }
  
  .trigger-menuClose{
    visibility: visible;
    opacity: 1;
  }
}