.fullwidth{
  min-width: 100vw;
  overflow: hidden;
  margin-left: rem-calc(-70);
  margin-top: rem-calc(-50);
  margin-bottom: rem-calc(120);
  
  img{
    min-width: 100%;
  }
  
  h1{
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%,-50%));
    padding: rem-calc(20) rem-calc(30);
    
    color: $white;
    text-align: center;
    text-transform: uppercase;
    border: rem-calc(2) solid $white;
  }
}