/* Background */
.rsDefault,
.rsOverflow,
.rsSlide,
.rsVideoFrameHolder,
.rsThumbs{
	background: $white;
	color: $white;
}

.rsOverflow{
	height: 100% !important;
}

.rsContainer{
  img{
    min-width: 100%;
    max-width: 100%;
    height: auto !important;
    margin-left: 0 !important;
  }
}

/* Arrows */
.rsDefault .rsArrow{
  width: rem-calc(30);
  height: rem-calc(30);
  overflow: hidden;
  cursor: pointer;
  display: block;
  z-index: $zIndex-rsArrow;
  
  position: absolute;
  top: 50%;
  margin-top: rem-calc(-30);
  
  .rsArrowIcn{
    width: 100%;
    height: 100%;
    border: 3px solid $black;
    border-right: transparent;
    border-bottom: transparent;
    cursor: pointer;
  }
}

.rsDefault .rsArrow.rsArrowLeft{
  left: rem-calc(10);
  @include transform( rotate(-45deg) );
}

.rsDefault .rsArrow.rsArrowRight{
  right: rem-calc(10);
  @include transform( rotate(135deg) );
}

.rsDefault .rsArrow.rsArrowDisabled{
  display: none;
}

/* Bullets */
.rsDefault{
  
  .rsBullets {
    position: absolute;
    z-index: $zIndex-rsBullet;
    bottom: 1em;
    width: 100%;
    
    background: none;
    text-align: center;
    
    .rsBullet {
      display: inline-block;
      *display:inline; 
      *zoom:1;
      padding: 0 .2em;
      
      span{
        display: block;
        width: rem-calc(8);
        height: rem-calc(8);
        border-radius: 50%;
        background: $black;
      }
    }
    
    .rsNavSelected{
      span{
        background-color: $white;
      }
    }
  }
}

@media #{$small-only}{
  .rsDefault .rsArrow{
    width: rem-calc(20);
    height: rem-calc(20);
  }
}